.btn {
  background-color: var(--peach);
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.85rem;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 3rem;
}

.container-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background-color: var(--orange);
}
